body {
    background-color: #E8E6DE;
    color: #F0D663;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
font-size: 20px;
}

button {
    background-color: #87DBDE;
    color: #F0D663;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 24px;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 50%;
}
